body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.flash {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border-radius: 10px;
  color: white;
  animation: fadeIn 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.no-flash {
  /*border: 1px solid #315873;*/
  height: 0px;
  opacity: 1;
  opacity: 0;
  animation: none;
}

.flash-error {
  /*border: 1px solid #733137;*/
  height: 40px;
  opacity: 1;
  background-color: #733137;
}

.flash-success {
  /*border: 1px solid #31734c;*/
  height: 40px;
  opacity: 1;
  margin-bottom: 20px;
  color: white;
  font-weight: normal;
  font-size: 0.9em;
  background-color: #31734c;
}

@media screen and (min-width: 1200px) {
  .flash {
    max-width: 780px;
  }
}

@media screen and (min-width: 3000px) {
  .flash {
    /* border: 1px solid red; */
    max-width: 1000px;
  }
}

@media screen and (max-width: 900px) {
  .flash {
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .flash {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  40% {
    /* opacity: 0.2; */
  }
  100% {
    opacity: 1;
    /* height: auto; */
  }
}
