* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.info-section {
  background-color: #f4b41a;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info-title {
  font-size: 2.8em;
  margin-bottom: 30px;
}

.info-grid {
  display: flex;
  flex-direction: column;
  max-width: 65%;
  margin: 0 auto;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.info-row:nth-child(2n) {
  flex-direction: row-reverse;
}

.info-image {
  width: 250px;
}

.info-content {
  width: 250px;
  padding: 0 15px;
  line-height: 1.7em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.info-content-subhead {
  margin-bottom: 10px;
  font-size: 1.4em;
}

@media screen and (min-width: 1200px) {
  .info-grid {
    max-width: 780px;
  }
  .info-content {
    width: 320px;
  }
}

@media screen and (min-width: 3000px) {
  .info-title {
    font-size: 4em;
  }
  .info-content-subhead {
    font-size: 1.8em;
  }
  .info-grid {
    max-width: 1200px;
  }
  .info-content {
    width: 600px;
    font-size: 1.5em;
  }
  .info-image {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .info-grid {
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .info-grid {
    max-width: 100%;
  }

  .info-image {
    width: 200px;
  }
}

@media screen and (max-width: 572px) {
  .info-image-container {
    width: 35%;
  }
  .info-image {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .info-row {
    flex-direction: column;
  }
  .info-image-container {
    width: 40%;
    margin-bottom: 20px;
  }

  .info-row:nth-child(2n) {
    flex-direction: column;
  }
}
