* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.info-section{
    /* border: 1px solid red; */
    background-color: #F4B41A;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-title{
    font-size: 2.8em;
    /* border: 1px solid red; */
    margin-bottom: 30px;
}

.info-grid{
    display: flex;
    flex-direction: column;
    /* border: 1px solid purple; */
    max-width: 65%;
    margin: 0 auto;
}

.info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
    margin-bottom: 20px;
    padding: 10px 5px;
}

.info-row:nth-child(2n){
    flex-direction: row-reverse;
}

.info-image-container{
    /* border: 1px solid red; */
}

.info-image{
    /* border: 2px solid lightblue; */
    width: 250px;
}

.info-content{
    /* border: 1px solid brown; */
    width: 250px;
    padding: 0 15px;
    line-height: 1.7em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-content-subhead{
    /* border: 1px solid magenta; */
    margin-bottom: 10px;
    font-size: 1.4em;
}

.info-content-para{
    /* border: 1px solid turquoise; */
}

@media screen and (min-width: 1200px){
    .info-grid{
        max-width: 780px;
    }
}

@media screen and (max-width: 900px){
    .info-grid{
        max-width: 80%;
    }
}

@media screen and (max-width: 700px){
    .info-grid{
        max-width: 100%;
    }

    .info-image{
        width: 200px;
    }
}

@media screen and (max-width: 572px){
    .info-image-container{
        width: 35%;
    }
    .info-image{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .info-row{
        flex-direction: column;
    }
    .info-image-container{
        width: 40%;
        margin-bottom: 20px;
    }

    .info-row:nth-child(2n){
        flex-direction: column;
    }
}


